<!DOCTYPE html>
<html>
    <head>
        <title>Example AngularJS The First</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <script language="javascript" src="libs/angular.min.js"></script>
		<script language="javascript" src="js/controllers.js"></script>
    </head>
    <body>
        <div ng-app="appShop">
            <div ng-controller="UserController">
                 <h2>Example about Angular</h2><br />
				 Email: <input name="email" id="email" type="text" value="" ng-model="email" required><br />
				 Password: <input name="password" id="password" type="text" value="" ng-model="password"><br /><br />
				 <input name="login" id="login" value="Login" type="button" ng-click="loginUser()" >
				 
				 {{data_show}} 
				 
				<br /><br />
				 
				<select name="fFabRic" id="fFabRic" ng-model="fFabRic">
						<option value="">All</option>
						<option value="Silk">Silk</option>
						<option value="Cotton">Cotton</option>
				</select>
				 
				<select name="fType" id="fType" ng-model="fType">
						<option value="">All</option>
						<option value="Bag">Bag</option>
						<option value="Bird cage">Bird cage</option>
						<option value="Bag Pack">Bag Pack</option>
						<option value="Dress C">Dress C</option>
						<option value="Dress L">Dress L</option>
						<option value="Earing">Earing</option>
						<option value="Key ring">Key ring</option>
						<option value="Necklace">Necklace</option>
						<option value="Scarf">Scarf</option>
						<option value="Top MC">Top MC</option>
						<option value="Top ML">Top ML</option>
						<option value="Top SM">Top SM</option>
						<option value="Wood fan">Wood fan</option> 
				</select>
				<input name="btnSearch" id="btnSearch" value="Search" type="button" ng-click="searchShop()" >
				
				<br /><br /><br /><br />		 
				 
					<table cellpadding="5px" cellspacing="5px" > 
						<tr style="font-weight: bold;"><td>ID</td><td>FAB - RIC</td><td>FAMILY</td><td>TYPE</td><td>MISA CODE</td><td>DESC</td><td>PRICE</td></tr>
						<tr ng-repeat="(key, value) in data_list"><td> {{value.id}} </td><td> {{value.fab_ric}} </td><td> {{value.family}} </td><td> {{value.type}} </td><td> {{value.misa_code}} </td><td> {{value.desc}} </td><td style="text-align:right"> {{value.price}} </td></tr>
				   </table> 
            </div>
			 
        </div>
    </body>
</html>